body {
  background-image: url('Abelian Sandpile Model, Credit Colt Browning.png');
  background-repeat: no-repeat;
  background-size: 700px 700px;
  background-position: right;
}

p {
  min-width: 120px;
  max-width: 500px;
  margin: 35px;
}

body { 
  font-family: ariak, arial, arial, "ms sans serif", sans-serif;
  font-size: 14px; 
  line-height: 16px;
  margin: 35px 60px;
  color: #000;
  background-color: #000;
  height: 100%;
  width: 100%;

}

p, table, ul, li {
  font-family: arial, arial, arial, "ms sans serif", sans-serif;
  font-size: 12px; 
  line-height: 18px;
  color: #fff;
} 

h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 12px;
  color: #fff;
}
 
h2, h3, h4, h5 {
  font-size: 28px;
  font-weight: bold;
  line-height: 12px;
  color: #fff;
}
 
a:link {
  color: #ffd600;
}

a:visited {
  color: #ffd600;
}

a:active {
  color: #ffd600;
}

a:hover {
  color: #7608aa;
}

div.footer {
  font-family: arial, arial, arial, "ms sans serif", sans-serif; 
  font-size: 12px;
  line-height: 18px;
  color: #000000; 
}



video {
    position: top;
    
    width: 90%;
    height: 90%;
    z-index: -1000;
    overflow: hidden
}

 
