body {
  background-image: url('Abelian Sandpile Model, Credit Colt Browning.png');
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-attachment: fixed;
  background-position: right;
}

p {
  min-width: 120px;
  max-width: 500px;
  margin: 35px;
}

body { 
  font-family: ariak, arial, arial, "ms sans serif", sans-serif;
  font-size: 14px; 
  line-height: 16px;
  margin: 35px 60px;
  color: #000000;
  background-color: #FFFFFF; 
}

p, table, ul, li {
  font-family: arial, arial, arial, "ms sans serif", sans-serif;
  font-size: 12px; 
  line-height: 18px;
  color: #000000;
} 

h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 12px;
  color: #000000;
}
 
h2, h3, h4, h5 {
  font-size: 28px;
  font-weight: bold;
  line-height: 12px;
  color: #000000;
}
 
a:link {
  color: #ff9933;
}

a:visited {
  color: #9900cc;
}

a:active {
  color: #FFCC99;
}

a:hover {
  color: #FFCC99;
}

div.footer {
  font-family: arial, arial, arial, "ms sans serif", sans-serif; 
  font-size: 12px;
  line-height: 18px;
  color: #000000; 
}
